@import "./index.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.map iframe {
  width: 80%;
  height: 400px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

* {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background-color: #d9dff8;
  --text-color: #262847;
  --button-background: #3498db;
  --button-color: #ffffff;
  --navbar-background: whitesmoke;
  --navbar-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --card-background: whitesmoke;
  --card-hover-background: whitesmoke;
}

:root[data-theme="dark"] {
  --background-color: #333333;
  --text-color: #d6d1d1;
  --button-background: #3498db;
  --button-color: #ffffff;
  --navbar-background: #555555;
  --navbar-box-shadow: 0 5px 10px rgba(245, 241, 241, 0.342);
  --card-background: #555555;
  --card-hover-background: #555555;
}
h1 {
  font-size: 40px;
  color: #2980b9;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: transparent;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #3498db;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: bold;
  background-color: transparent;
}

h3 {
  font-size: 20px;
  color: #0056b3;
  font-weight: 600;
  font-weight: bold;
  background-color: transparent;
}

h4 {
  font-size: 16px;
  color: #2980b9;
  font-weight: bold;
  background-color: transparent;
}

p {
  font-size: 14px;
  color: var(--text-color);
  background-color: transparent;
  margin-bottom: auto;
  line-height: 1.5;
  transition: color 0.3s ease;
  font-weight: 400;
}

.home-container {
  padding: 20px;
}
.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
  background-color: transparent;
}

.card {
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--card-background);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  background-color: var(--card-hover-background);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
  background-color: transparent;
  

}

.cards-section h3 {
  font-size: 20px;
  color: #3796fc;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
  background-color: transparent;
}

.cards-section h4 {
  font-size: 20px;

  font-weight: 600;
  margin-top: 15px;
  text-align: center;
  background-color: transparent;
}

.cards-section p {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.5;
  background-color: transparent;
}
.details {
  font-size: 20px;

  font-weight: 600;
  margin: 15px;
  text-align: center;
  background-color: transparent;
}

button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  border-radius: 25%;
}

button:hover {
  background-color: #72bcee;
}
.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: transparent;
}
.cardDetails {
  padding: 20px;
  background-color: var(--background-color);
}

.cardDetails img {
  width: 60%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.cardDetails h1 {
  margin-bottom: 10px;
}

.about-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  border-radius: 16px;
  box-shadow: 0 10px 20px var(--card-background);
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about-container:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px var(--card-background);
}

.about-container h1,
.about-container h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #3498db, #2ecc71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}
.about-container h1:hover,
.about-container h2:hover {
  transform: scale(1.1);
}

.about-container p {
  font-size: 1.2em;
  margin-bottom: 22px;
  color: var(--text-color);
}

.about-container ul li,
.about-container ol li {
  margin-bottom: 12px;
  list-style: none;
  font-size: 1em;
  color: var(--text-color);
  padding: 5px 0;
  transition: transform 0.2s ease, color 0.2s ease;
}

.about-container ul li:hover,
.about-container ol li:hover {
  transform: scale(1.2);
  color: #2980b9;
}
@media (max-width: 1024px) {
  .cards-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  h1 {
    font-size: 32px;
  }

  .card {
    padding: 10px;
  }

  .about-container {
    padding: 30px;
  }

  .map iframe {
    height: 300px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 1.5em;
  }

  .card {
    width: 90%;
    margin: auto;
  }

  .map iframe {
    height: 250px;
  }
}
